* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #e1b382;
  }
  
  .flashcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .flashcards div {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-radius: 7px;
    aspect-ratio: 2 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(223, 173, 56, 0.35) 0px 5px 15px;
  }
  
  div.selected {
    background-color: rgba(0,0,0,.10);
    color: #fff;
  }
  
  /* add media queries for responsive design */
@media (max-width: 768px) {
    .flashcards {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .flashcards {
      grid-template-columns: 1fr;
    }
  }
  